*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameBoard{ 
    width: 27rem;
    height: 27rem;
    background-color: rgb(0, 224, 168);
}
.g0,.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8{
    border: 1px solid black;
    width: 9rem;
    height: 9rem;
}
.firstRow{
    display: flex;
}

.secandRow{
    display: flex;
}
.thirdRow{
    display: flex;
}
